aside {
    flex: 7;

    background: #835afd;
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 7rem 5rem;

    img {
        max-width: 20rem;
        margin-bottom: 1rem;
    }

    p {
        font: 700 2rem "Poppins", sans-serif;
        max-width: 65%;
        margin-bottom: 1rem;
        line-height: 42px;
    }

    span {
        font-size: 1.5rem;
        max-width: 85%;
        line-height: 32px;
        color: #f8f8f8;
    }
}