button {
    background-color: #835afd;
    color: #fff;
    height: 3rem;
    border-radius: 0.5rem;
    margin-top: 1rem;

    border: 0;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: filter 0.2s;

    svg {
        margin-right: 0.5rem;
    }

    &:hover {
        filter: brightness(0.9);
    }
}