.Modal {
    max-width: 800px;
    position: absolute;
    top: 25%;
    left: 25%;
    right: 25%;
    bottom: 25%;
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #05020680;
    z-index: 2;
}

// Media Queries //
@media (max-width: 600px) {
    .Modal {
        top: 10%;
        left: 10%;
        right: 10%;
        bottom: 10%;
        gap: 1rem;

        h1 {
            font-size: 2rem;
        }
    }

    .modal-button-group {
        flex-direction: column;

        button:first-child {
            margin-bottom: 1rem;
        }
    }
}
