.page-admin-room {
    main {
        max-width: 800px;
        margin: 0 auto;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    ul {
        list-style: none;
        margin-top: 2rem;
    }
}

.admin-room-head {
    margin: 2rem 0 1.5rem;
    display: flex;
    align-items: center;

    h2 {
        font-family: Poppins, sans-serif;
        color: #29292e;
    }

    span {
        background-color: #e559f9;
        color: #f8f8f8;
        font-size: 0.75rem;
        margin-left: 1rem;

        padding: 0.5rem 1rem;
        border-radius: 9999px;
    }
}

.admin-room-content {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    textarea {
        width: 100%;
        min-height: 130px;
        border: 0;
        resize: vertical;
        border-radius: 0.5rem;
        padding: 1rem;

        background-color: #fefefe;
        box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);

        &::placeholder {
            color: #737380;
            opacity: 0.7;
        }
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
           font-size: 0.75rem;
           color: #737380;
           
           a {
               color: #835AFD
           }
        }
    }
}
