.light {
    --background: #F8F8F8;
    --background-selected: #F4F0FF;

    --acent: #FEFEFE;

    --font: #29292E;
    --fontSelected: #29292E;
    --text: #29292E;
    --legend: #A8A8B3;

    --border: #A1B2CD;
    --disabled: #DBDCDD;

    --input: #F8F8F8;
    --input-border: #A8A8B3;
    --input-text: #737380;

    --icon: #737380;

    --button-primary: #835AFD;
    --button-secondary: #e559f9;
    
    --purple-dark: #6F4BD8;
    --purple: #835AFD;

    --pink-medium: #e559f9;
}

.dark {
    --background: #29292E;
    --background-selected: #3D3859;

    --acent: #3D3D42;

    --font: #F8F8F8;
    --fontSelected: #9393BE;
    --text: #A8A8B3;
    --legend: #737380;

    --border: #A1B2CD;
    --disabled: #444447;

    --icon: #A8A8B3;

    --input: #3D3D42;
    --input-border: #737380;
    --input-text: #A8A8B3;

    --button-primary: #835AFD;
    --button-secondary: #e559f9;
    
    --purple-dark: #6F4BD8;
    --purple: #835AFD;

    --pink-medium: #e559f9;

    --gray-darker: #3D3D42;
    --gray-dark: #737380;
    --gray-medium: #A8A8B3;
    --gray-light: #DBDCDD;
}
