.page-header {
    padding: 1.5rem;
    border-bottom: 1px solid #e2e2e2;

    .content {
        max-width: 1120px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        > img {
            max-height: 45px;
        }

        > div {
            display: flex;
            flex-direction: row;
            justify-items: center;
            align-content: center;
            gap: 1rem;
            
            button {
                height: 3rem;
                border-radius: 0.5rem;
                border: 1px solid #835afd;
                cursor: pointer;
                overflow: hidden;

                display: flex;
                align-items: center;
                justify-content: center;
            }

            .close-room-button {
                background-color: #fff;
                color: #835afd;
                padding: 0 12px;

                transition: background-color 0.4s, color 0.4s;

                &:hover {
                    background-color: #835afd;
                    color: #fff;
                }
            }
        }
    }
}