.question-item {
    background: var(--acent);
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
    height: 9.75rem;
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    // Incompatível com o Explorer //
    p {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        line-height: 1.5rem;
        text-align: justify;

        color: var(--text);
    }

    footer {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        > div {
            display: flex;
            gap: 1rem;
        }

        button {
            border: 0;
            background-color: transparent;
            cursor: pointer;

            transition: filter 0.2s;

            &.like-button {
                display: flex;
                align-items: flex-end;
                color: var(--icon);
                gap: 0.5rem;

                &.liked {
                    color: #835afd;
                    font-weight: 500;

                    svg path {
                        stroke: #835afd; // or fill (preenchido)
                    }
                }
            }

            &:hover {
                filter: brightness(0.8);
            }
        }
    }
}

.user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    > img {
        height: 32px;
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    span {
        font-family: Roboto, sans-serif;
        font-size: 0.75rem;
        color: var(--text);
    }
}

.question-item:not(:first-child) {
    margin-top: 0.5rem;
}

.question-item:last-child {
    margin-bottom: 2rem;
}

.highlighted {
    border: 2px #835afd solid;
    background-color: var(--background-selected);

    p, span {
        color: var(--fontSelected);
    }
}

.answered {
    background-color: var(--disabled);

    p,
    span {
        color: var(--text);
        opacity: 0.4;
    }

    img {
        opacity: 0.4;
    }
}

// Media Queries //
@media (max-width: 800px) {
    .question-item {
        max-width: 100%;
    }

    .user-info {
        span {
            font-size: 1rem;
        }
    }
}
