#switcher-container {
    position: absolute;
    top: 0.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    .switch-button {
        margin: 0 1rem;
    }

    .disabled {
        opacity: 0.2;
    }
}